---
---
// Variable overrides
//$body-bg: #000;
//$body-color: #111;

// Bootstrap and its default variables
@import "bootstrap";
//@import "../node_modules/bootstrap/scss/bootstrap";

// Custom styles
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}